@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-image: url("../assets/img/backgroundimg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121826; /* Dark mode background */
  color: #ffffff; /* White text color */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo", sans-serif;
  color: #ffffff; /* White text color */
}

h1 {
  font-weight: bold;
}

@keyframes rainbow-border {
  0% {
    border-color: #ff0000;
    box-shadow: 0 0 20px #ff0000;
  } /* Red */
  16% {
    border-color: #ff7f00;
    box-shadow: 0 0 20px #ff7f00;
  } /* Orange */
  33% {
    border-color: #ffff00;
    box-shadow: 0 0 20px #ffff00;
  } /* Yellow */
  50% {
    border-color: #00ff00;
    box-shadow: 0 0 20px #00ff00;
  } /* Green */
  66% {
    border-color: #0000ff;
    box-shadow: 0 0 20px #0000ff;
  } /* Blue */
  83% {
    border-color: #4b0082;
    box-shadow: 0 0 20px #4b0082;
  } /* Indigo */
  100% {
    border-color: #8b00ff;
    box-shadow: 0 0 20px #8b00ff;
  } /* Violet */
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.background-container {
  background: rgba(18, 24, 38, 0.8); /* Glassmorphism effect */
  padding: 24px; /* Internal padding */
  border-radius: 16px; /* Border radius */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1000px; /* Increased width */
  width: 90%; /* Responsive width */
  height: auto; /* Automatic height */
  display: flex;
  overflow: hidden;
  margin: 0;
  border: 2px solid #00ffcc; /* Neon border */
  animation: rainbow-border 10s infinite; /* Slower animation */
}

.card {
  background-color: transparent;
  margin: 0;
  max-width: 1000px; /* Increased width */
}

.loginsocial {
  max-width: 500px;
  margin: 0 auto;
}

.loginsocial .col-auto {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 5px;
}

.icon-container {
  width: 75px;
  height: 75px;
  background-color: #ededed;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #0056b3; /* Darker blue border */
}

.loginsocial img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.login-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px 0 0 16px; /* Adjust border radius */
  margin: 0;
  padding: 0;
}

.form-text {
  font-size: 24px;
  color: #ffffff; /* White text color */
}

.form-control {
  border: 3px solid #00aaff; /* Azul mais claro */
  color: #00aaff; /* Azul mais claro */
  height: 50px;
  background-color: transparent;
  box-shadow: 0px 3px 4.7px -1px #00aaff; /* Azul mais claro */
}

.form-control::placeholder {
  color: #00aaff; /* Azul mais claro */
}

.form-label {
  color: #ffffff; /* White text color */
  margin-bottom: 10px; /* Increased margin */
}

.link-custom {
  color: #ffffff; /* White text color */
  text-decoration: none;
}

.link-custom:hover {
  text-decoration: underline;
}

.form-check-inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-checkbox .form-check-input {
  width: 20px;
  height: 20px;
  background-color: #00ffcc; /* Neon background */
  border: 2px solid #00ffcc; /* Neon border */
}

.btn-custom {
  background-color: rgba(38, 64, 139, 0.5);
  border-color: #00aaff; /* Azul mais claro */
  color: #ffffff;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  transition: background-color 0.3s, font-size 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 5px #00aaff, 0 0 10px #00aaff, 0 0 15px #00aaff; /* Azul mais claro */
  animation: rainbow-border 10s infinite;
}

.btn-custom:hover {
  background-color: rgba(27, 46, 107, 0.5);
  font-size: 24px;
  color: #ffffff;
  box-shadow: 0 0 5px #00aaff, 0 0 10px #00aaff, 0 0 15px #00aaff; /* Azul mais claro */
}

.btn-login {
  background-color: #ff6600; /* Orange background */
  border-color: #ff6600; /* Orange border */
}

.btn-login:hover {
  background-color: #ff4500; /* Darker orange background */
  box-shadow: 0 0 10px #ff6600, 0 0 20px #ff6600, 0 0 30px #ff6600; /* Glow effect */
}

.small-text {
  font-size: 16px; /* Further reduced font size */
  color: #ffffff; /* White text color */
}

.form-check-label {
  display: flex;
  align-items: center;
}

.container {
  padding-top: 0;
}

.overlay-container {
  position: relative;
  background-image: url("../assets/img/columnlog.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 750px; /* Full height */
  border-radius: 16px 0 0 16px; /* Adjust border radius */
  overflow: hidden;
}

.overlay-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-text {
  font-size: 40px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.form-control {
  box-shadow: 0px 3px 4.7px -1px #0056b3; /* Darker blue shadow */
}

.form-check {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-check-input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 4px solid #868383;
}

.separator:not(:empty)::before {
  margin-right: 1em;
}

.separator:not(:empty)::after {
  margin-left: 1em;
}

.separator-text {
  color: #ffffff; /* White text color */
  font-weight: bold;
}

.account-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: 24px;
  max-width: 365px;
  margin: 0 auto;
}

.account-section h5 {
  color: #ffffff; /* White text color */
}

.login-title {
  margin-bottom: 40px;
}

.loginsocial {
  margin-bottom: 10px;
}

.typing-animation {
  font-family: "Exo 2", sans-serif; /* Changed to Exo 2 */
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: typing 2s steps(30, end), blink-caret 0.75s step-end infinite;
  animation-fill-mode: forwards;
  font-size: 24px;
}

.greeting-text {
  font-family: "Exo 2", sans-serif; /* Changed to Exo 2 */
}

.login-text {
  font-family: "Poppins", sans-serif; /* Changed to Poppins */
  font-size: 20px; /* Reduced font size */
}

.input-group-text {
  background-color: transparent;
  border: none;
  color: #00ffcc; /* Neon color */
}

#freelancerRole {
  appearance: none; /* Remove default arrow */
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%2300aaff" d="M2 0L0 2h4z"/></svg>'); /* Custom arrow */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}

#empresaType {
  appearance: none; /* Remove default arrow */
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%2300aaff" d="M2 0L0 2h4z"/></svg>'); /* Custom arrow */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}
